#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Menubar style overrides */
/*
[data-radix-menubar-trigger][data-state='open'],
[data-radix-menubar-trigger]:focus,
[data-radix-menubar-submenu-trigger][data-state='open'],
[data-radix-menubar-submenu-trigger]:focus {
  background-color: #f1f5f9; 
  color: #0f172a; 
}

[role^="menuitem"]:focus {
    background-color: #f1f5f9; 
    color: #0f172a; 
}

[data-radix-menubar-content],
[data-radix-menubar-submenu-content] {
    background-color: #ffffff; 
    color: #0f172a; 
}
*/


@keyframes paw-print-loading {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    transform: translateY(-20px);
    opacity: 1;
  }
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.paw-loader span {
  display: inline-block;
  margin: 0 5px;
  font-size: 2rem; /* 발바닥 크기 조정 */
  color: #fbbf24; /* 노란색 계열로 변경 */
  animation: paw-print-loading 1.5s infinite;
  opacity: 0; /* 애니메이션 시작 전에는 보이지 않도록 설정 */
}

.paw-loader span:nth-child(1) { animation-delay: 0s; }
.paw-loader span:nth-child(2) { animation-delay: 0.2s; }
.paw-loader span:nth-child(3) { animation-delay: 0.4s; }
.paw-loader span:nth-child(4) { animation-delay: 0.6s; }
